Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
pymupdf
gunicorn
werkzeug==3.0.1
python-dotenv==1.0.0
openpyxl==3.1.2
psycopg2-binary==2.9.12
supabase==2.31.0
pywin32==306 ; sys_platform == 'win32'
